.clCartHeader{
  width:100%;
  height: 60px;
  background: #333;
}
.clCartHeader h1{
  color: white;
  font-size: 30px;
  line-height: 60px;
  width: fit-content;
  margin-left: 10px;
  letter-spacing: 4px;
  transform: scale(.7, 1);
}
.clContentSection{
  width: 100%;
  padding: 50px;
}
.clContentWrapper{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: fit-content;
}
.clContentDescriptionHeader{
  width: 100%;
  height: fit-content;
  padding: 20px 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.clContentDescriptionHeader h1{
  font-size: 17px;
  display: inline-block;
}
.clContentDescriptionHeader h1:nth-child(5){
  text-align: right;
}
.clContentSingleItem{
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.clContentSingleItem img{
  width: 80%;
}
.clContentSingleItem div{
  font-size: 17px;
}
.clContentSingleItem div:nth-child(5){
  text-align: right;
}
.clCheckoutSection{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.clCheckoutWrapperLeft h1{
  background: lightblue;
  padding: 10px;
}
.clCheckoutWrapperRight{
  width: 320px;
  display: flex;
}
.clCheckoutWrapperRight div{
  margin-left:40px;
}
.clCheckoutWrapperRight h1{
  font-weight: lighter;
  padding-bottom: 20px;
  text-align: right;
}
.clCheckoutWrapperRight h3{
  padding-bottom: 20px;
  text-align: right;
  font-weight: bold;
}
.clCheckoutWrapperRight h5{
  background: lightblue;
  padding: 20px;
}
.clCheckoutButton{
  padding: 20px;
  margin-right: 20px;
  position: relative;
}
.clCheckoutButton h1{
  padding: 20px;
  margin-top: -20px;
  position: absolute;
  right: 0px;
  background: lightblue;
  text-align: right;
}