.clCartHeader{
  width:100%;
  height: 60px;
  background: #333;
}
.clCartHeader h1{
  color: white;
  font-size: 30px;
  line-height: 60px;
  width: fit-content;
  margin-left: 10px;
  letter-spacing: 4px;
  transform: scale(.7, 1);
}
.clContentSection{
  width: 100%;
  padding: 50px;
}
.clContentWrapper{
  width: 100%;
  height: fit-content;
}
.clContentDescriptionHeader{
  width: 100%;
  height: fit-content;
  padding: 20px 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.clContentDescriptionHeader h1{
  font-size: 17px;
  display: inline-block;
}
.clContentDescriptionHeader h1:nth-child(5){
  text-align: right;
}
.clContentSingleItem{
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.clContentSingleItem img{
  width: 80%;
}
.clContentSingleItem div{
  font-size: 17px;
}
.clContentSingleItem div:nth-child(5){
  text-align: right;
}