.pfhSection{
    width: 100%;
    background: #444;
}
.pfhContentWrapper{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
}
.pfhContentWrapper ul{
    padding: 10px;
}
.pfhContentWrapper li{
    font-size: 15px;
    margin: 10px 20px;
    color: #ccc;
    font-weight: lighter;
    transition: all .3s;
}
.pfhContentWrapper li:hover{
    color: #19f !important;
    cursor: pointer;
}