.bitmojiSection{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 700px;
  height: 310px;;
  background: #333;
  z-index: 888;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.bitmojiImage{
  width: 300px;
  height: auto;
  position: absolute;
  bottom:2px;
  right:5px;
}
.bitmojiImage img{
  width: 100%;
}
.bitmojiText{
  width:400px;
  height: 100%;
  color: white;
  padding: 20px;
}
.bitmojiText p{
  line-height: 18px;
  font-size: 15px;
}
.bitmojiText a{
  color: lightblue;
}
.bitmojiX{
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px 5px;
  background: #ccc;
  border: 1px solid black;
  border-radius: 50%;
}
.bitmojiX:hover{
    background: #fff;
    cursor: pointer;
}