
.home{
    width: 100%;
    position: relative;
}

/*----------------Global------------------*/

.flexRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navTextMedium{
    font-weight: bold;
    transform: scaleX(.8);
    height: 100%;
    padding-top: 25px;
}
.navTextMedium:hover{
    cursor: pointer;
}
.aLink:hover{
    cursor: pointer;
}


