
.home{
    width: 100%;
    position: relative;
}

/*----------------Global------------------*/

.fixedCover{
    position: fixed;
    background: pink;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.flexRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navTextMedium{
    font-weight: bold;
    transform: scaleX(.8);
    height: 100%;
    padding-top: 25px;
    text-decoration: none;
    color: black;
}
.navTextMedium:hover{
    cursor: pointer;
    border-bottom: 5px solid grey;
}
.aLink:hover{
    cursor: pointer;
}


